.section
{
    max-width: 400px;
    margin: auto;
    border: 1px solid pink;
    display: flex;
   justify-content: space-between;

}

.item
{
    margin: 5px;
    background-color: blueviolet;
    text-align: center;
    font-size: 26px;

}